.header {
    .top-header {
        background-color: $bgOne;
        text-align: right;
        padding: 3px 0;

        a {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.7);
            padding: 0 10px;
            border-right: 1px solid rgba(255, 255, 255, 0.7);

            i {
                padding-left: 5px;
            }

            &:last-child {
                color: #fff;
                border-right: 0;
                padding-right: 0;
            }
        }
    }

    .header-content {
        position: relative;
        display: flex;
        padding: 30px 0;

        .mobile-btn {
            position: absolute;
            top: 15px;
            right: 0;
            display: none;

            a {
                display: block;
                width: 35px;
                height: 30px;
                border: 1px solid #6d6e71;
                border-radius: 3px;
                text-align: center;
                line-height: 30px;
                color: #6d6e71;
                background-color: rgba(109, 110, 113, 0.05);
            }
        }

        .logo {
            margin-right: 50px;

            img {
                max-width: 125px;
            }
        }

        .menu {
            .top {
                border-bottom: 1px solid #6d6e71;
                padding-bottom: 15px;
                margin-bottom: 15px;

                ul {
                    display: flex;

                    li {
                        a {
                            color: #6d6e71;
                            padding: 0 10px;
                            margin-right: 10px;
                            transition: all .3s;

                            &:hover {
                                color: #998675;
                            }
                        }
                    }
                }
            }

            .bottom {
                display: flex;
                align-items: flex-start;

                img {
                    max-width: 185px;
                    margin-right: 50px;
                }

                p {
                    font-size: 15.5px;
                    line-height: 24px;
                    color: $primary-color;
                    font-weight: 300;
                    margin-bottom: 0;

                    a {
                        color: $secondary-color;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 991.98px) {
        .mobile-btn {
            display: block !important;
        }

        .header-content {
            flex-direction: column;
            align-items: center;

            .logo {
                margin: 0;
                padding-bottom: 15px;
            }

            .menu {
                position: relative;
                .top {
                    display: none;
                    position: absolute;
                    width: 100%;
                    border-bottom: 0;
                    top: 0;
                    left: 0;
                    z-index: 999;
                    background-color: #fff;

                    ul {
                        flex-direction: column;

                        li {
                            text-align: center;
                            margin-bottom: 10px;
                            a {
                                margin: 0;
                            }
                        }
                    }
                }

                .bottom {
                    flex-direction: column;
                    align-items: center;

                    img {
                        margin-right: 0;
                        padding-bottom: 15px;
                    }

                    .text {
                        text-align: center;
                    }
                }
            }
        }
    }
}