@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

iframe {
  border: none;
}

a,
b,
div,
ul,
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-outline-: none;
}

input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active,
select:focus,
select:hover {
  -moz-outline: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

img:not([draggable]),
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: 0;
}

a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: 0;
}

:focus {
  outline: none;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

button:focus {
  -moz-outline: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section {
  padding: 12rem 0;
}

.section-top {
  padding: 12rem 0 0;
}

.section-bottom {
  padding: 0 0 12rem 0;
}

.btn.focus, .btn:focus {
  border: 1px solid transparent;
}

.form-control:focus,
.btn.focus, .btn:focus {
  color: #495057;
  background-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

a:focus {
  outline: 0px solid;
}

.fix {
  overflow: hidden;
}

p {
  margin: 0 0 24px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #e01f27;
  text-decoration: none;
}

a:active, a:hover {
  outline: 0 none;
  color: #188fff;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #e01f27;
  text-shadow: none;
}

::selection {
  background: #e01f27;
  text-shadow: none;
  color: #ffffff;
}

.section-padding {
  padding: 90px 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.section-title {
  padding-bottom: 50px;
}

.section-title h2 {
  font-size: 28px;
  line-height: 38px;
  color: #a59586;
}

.header .top-header {
  background-color: #6D6E71;
  text-align: right;
  padding: 3px 0;
}

.header .top-header a {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  padding: 0 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.header .top-header a i {
  padding-left: 5px;
}

.header .top-header a:last-child {
  color: #fff;
  border-right: 0;
  padding-right: 0;
}

.header .header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.header .header-content .mobile-btn {
  position: absolute;
  top: 15px;
  right: 0;
  display: none;
}

.header .header-content .mobile-btn a {
  display: block;
  width: 35px;
  height: 30px;
  border: 1px solid #6d6e71;
  border-radius: 3px;
  text-align: center;
  line-height: 30px;
  color: #6d6e71;
  background-color: rgba(109, 110, 113, 0.05);
}

.header .header-content .logo {
  margin-right: 50px;
}

.header .header-content .logo img {
  max-width: 125px;
}

.header .header-content .menu .top {
  border-bottom: 1px solid #6d6e71;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.header .header-content .menu .top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-content .menu .top ul li a {
  color: #6d6e71;
  padding: 0 10px;
  margin-right: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header .header-content .menu .top ul li a:hover {
  color: #998675;
}

.header .header-content .menu .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header .header-content .menu .bottom img {
  max-width: 185px;
  margin-right: 50px;
}

.header .header-content .menu .bottom p {
  font-size: 15.5px;
  line-height: 24px;
  color: #e01f27;
  font-weight: 300;
  margin-bottom: 0;
}

.header .header-content .menu .bottom p a {
  color: #337ab7;
}

.header .header-content .menu .bottom p a:hover {
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .header .mobile-btn {
    display: block !important;
  }
  .header .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-content .logo {
    margin: 0;
    padding-bottom: 15px;
  }
  .header .header-content .menu {
    position: relative;
  }
  .header .header-content .menu .top {
    display: none;
    position: absolute;
    width: 100%;
    border-bottom: 0;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
  }
  .header .header-content .menu .top ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header-content .menu .top ul li {
    text-align: center;
    margin-bottom: 10px;
  }
  .header .header-content .menu .top ul li a {
    margin: 0;
  }
  .header .header-content .menu .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-content .menu .bottom img {
    margin-right: 0;
    padding-bottom: 15px;
  }
  .header .header-content .menu .bottom .text {
    text-align: center;
  }
}

.footer {
  background-color: #242424;
  padding: 30px 0;
}

.footer .footer-item ul li a {
  position: relative;
  color: #aaaaaa;
  font-size: 12px;
  padding-left: 15px;
}

.footer .footer-item ul li a::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #aaa;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 0;
}

.footer .footer-item ul li a:hover {
  color: #858484;
}

.footer .footer-item-app .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
}

.footer .footer-item-app .social li {
  color: #aaa;
  font-size: 12px;
}

.footer .footer-item-app .social li:first-child {
  margin-right: 15px;
}

.footer .footer-item-app .social li a {
  color: #aaa;
  padding: 10px;
}

.footer .footer-item-app .social li a:hover {
  color: #858484;
}

.footer .footer-item-app .app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-item-app .app img {
  max-width: 80px;
  margin-right: 15px;
}

.footer .footer-item-app .app .text p {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 0;
}

.footer .lang {
  padding-top: 30px;
}

.footer .lang ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .lang ul li {
  font-size: 12px;
  color: #aaa;
  padding-left: 15px;
}

.footer .lang ul li a {
  color: #aaa;
}

.footer .copyright {
  text-align: right;
  border-top: 1px solid rgba(170, 170, 170, 0.2);
  padding-top: 15px;
  margin-top: 15px;
}

.footer .copyright p {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 0;
}

.footer .copyright p a {
  color: #aaa;
}

.footer .copyright p a:hover {
  color: #858484;
}

.banner .banner-slide {
  border-top: 1px solid #eee;
}

.banner .banner-slide .slick-dots {
  position: absolute;
  left: 50%;
  bottom: 15px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .banner-slide .slick-dots li {
  width: 5px;
  height: 5px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
}

.banner .banner-slide .slick-dots li:hover, .banner .banner-slide .slick-dots li.slick-active {
  background-color: #333333;
}

.banner .banner-slide .slick-dots li button {
  display: none;
}

.about {
  background-image: url(../images/about-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 30px 0;
}

.about .text p {
  font-size: 25px;
  color: #ffffff;
  line-height: 35px;
  font-weight: 300;
  margin-bottom: 50px;
}

.about .text a {
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;
}

.about .text a:hover {
  text-decoration: underline;
}

.customer-product {
  border-bottom: 1px solid #eee;
}

.customer-product [class^="col"] {
  position: relative;
}

.customer-product [class^="col"]::after {
  content: '';
  width: 2px;
  height: 120px;
  background-color: #eee;
  position: absolute;
  left: 100%;
  top: 15px;
}

@media (min-width: 992px) {
  .customer-product [class^="col"]:nth-child(4n)::after {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .customer-product [class^="col"]:nth-child(3n)::after {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .customer-product [class^="col"]::after {
    display: none;
  }
}

.customer-product .product-item {
  text-align: center;
  margin-bottom: 30px;
  padding: 15px;
}

.customer-product .product-item > img {
  max-height: 40px;
  margin-bottom: 15px;
}

.customer-product .product-item p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 600;
  color: #e01f27;
}

.customer-product .product-item a img {
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 100%;
}

.customer-product .product-item a:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.industrial-product [class^="col"] {
  position: relative;
}

.industrial-product [class^="col"]::after {
  content: '';
  width: 2px;
  height: 120px;
  background-color: #eee;
  position: absolute;
  left: 100%;
  top: 15px;
}

.industrial-product [class^="col"]:nth-child(4n)::after {
  display: none;
}

@media (max-width: 767.98px) {
  .industrial-product [class^="col"]::after {
    display: none;
  }
}

.industrial-product .product-item {
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
}

.industrial-product .product-item a {
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.industrial-product .product-item a:hover {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.industrial-product .product-item h3 {
  font-size: 15px;
  line-height: 25px;
  color: #e01f27;
}

.programme .programme-banner {
  position: relative;
}

.programme .programme-banner::after {
  content: '';
  width: 100%;
  height: calc(100% - 65px);
  background-color: #F7F7F7;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: -1;
}

@media (max-width: 1200px) {
  .programme .programme-banner::after {
    height: calc(100% - 53px);
    top: 25px;
  }
}

@media (max-width: 991.98px) {
  .programme .programme-banner::after {
    height: calc(100% - 41px);
    top: 19px;
  }
}

@media (max-width: 767.98px) {
  .programme .programme-banner::after {
    height: calc(100% - 30px);
    top: 14px;
  }
}

@media (max-width: 767.98px) {
  .programme .programme-banner .container {
    padding: 0;
  }
}

.programme .programme-text .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.programme .programme-text .container p {
  font-size: 17px;
  font-style: italic;
  font-weight: 600;
  padding-right: 30px;
  color: #646568;
}

.programme .programme-text .container ul li span {
  font-style: 18px;
  text-transform: uppercase;
  color: #646568;
  font-style: italic;
}

@media (max-width: 575.98px) {
  .programme .programme-text .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .programme .programme-text .container p {
    padding-right: 0;
  }
  .programme .programme-text .container ul li {
    text-align: center;
  }
}

.programme .enrol-now {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 30px;
}

.programme .enrol-now a {
  font-size: 18px;
  color: #e01f27;
}

.programme .enrol-now a i {
  font-size: 14px;
}

.programme .enrol-now a:hover {
  color: #337ab7;
  text-decoration: underline;
}

.feature-recipe {
  background-color: #F7F7F7;
  padding-top: 15px;
}

.feature-recipe .container {
  position: relative;
  background-color: #fff;
}

.feature-recipe .container:before, .feature-recipe .container:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 20px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #9c9b9b;
  -webkit-box-shadow: 0 15px 10px #9c9b9b;
  box-shadow: 0 15px 10px #9c9b9b;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.feature-recipe .container:after {
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 20px;
  left: auto;
}

.feature-recipe .img {
  width: 100%;
}

.feature-recipe .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 30px 0 60px;
}

.feature-recipe .text span {
  font-style: 17px;
  color: #898989;
}

.feature-recipe .text h2 {
  font-style: 24px;
  line-height: 34px;
  color: #e01f27;
}

.feature-recipe .text p {
  font-size: 18px;
  line-height: 28px;
  font-style: italic;
  color: #494949;
  font-weight: 300;
  margin-top: 15px;
}

.feature-recipe .text p a {
  color: #337ab7;
}

.feature-recipe .text p a:hover {
  color: #999999;
  text-decoration: underline;
}

.feature-recipe .text .more-btn {
  margin-top: auto;
  font-size: 18px;
  font-style: italic;
  color: #337ab7;
}

.feature-recipe .text .more-btn i {
  font-size: 14px;
}

.feature-recipe .text .more-btn:hover {
  color: #999999;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .feature-recipe [class^="col"]:first-child {
    padding-left: 0;
  }
}

@media (max-width: 991.98px) {
  .feature-recipe [class^="col"]:first-child {
    padding: 0;
  }
}

.logos {
  padding-top: 90px;
  padding-bottom: 30px;
  border-bottom: 30px solid #D1D1D1;
}

.logos .logo-item {
  text-align: center;
}

.logos .logo-item img {
  max-width: 180px;
}

.index-2 .about-section .up {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ddd;
}

.index-2 .about-section .up p {
  font-size: 17px;
  line-height: 27px;
}

.index-2 .about-section .up p:first-child {
  color: #7d7d7d;
  font-weight: 500;
}

.index-2 .about-section .up p:last-child {
  font-weight: 300;
}

.index-2 .about-section .down h1 {
  position: relative;
  font-size: 34px;
  color: #ffffff;
  z-index: 1;
  padding: 75px 255px 130px;
  text-align: center;
  line-height: 50px;
  overflow: hidden;
}

@media (max-width: 1199.98px) {
  .index-2 .about-section .down h1 {
    padding: 75px 160px 130px;
  }
}

@media (max-width: 991.98px) {
  .index-2 .about-section .down h1 {
    padding: 40px 100px 80px;
    font-size: 28px;
    line-height: 38px;
  }
}

@media (max-width: 767.98px) {
  .index-2 .about-section .down h1 {
    font-size: 19px;
    line-height: 26px;
  }
}

@media (max-width: 575.98px) {
  .index-2 .about-section .down h1 {
    font-size: 19px;
    line-height: 26px;
    padding: 30px 15px 50px;
  }
}

.index-2 .about-section .down h1::after {
  content: '';
  width: calc(100% - 100px);
  height: 516px;
  background-color: #e01f27;
  position: absolute;
  bottom: 0;
  left: 50px;
  z-index: -1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

@media (min-width: 1200px) {
  .index-2 .about-section .down h1::after {
    height: 855px;
  }
}

@media (max-width: 1199.98px) {
  .index-2 .about-section .down h1::after {
    height: 855px;
  }
}

@media (max-width: 991.98px) {
  .index-2 .about-section .down h1::after {
    height: 535px;
  }
}

@media (max-width: 575.98px) {
  .index-2 .about-section .down h1::after {
    height: 270px;
    width: 100%;
    left: 0;
  }
}

.index-2 .tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

@media (max-width: 767.98px) {
  .index-2 .tab ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.index-2 .tab ul li .tab-item {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  margin: 0 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767.98px) {
  .index-2 .tab ul li .tab-item {
    margin-top: 30px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.index-2 .tab ul li .tab-item h4 {
  font-size: 20px;
  padding-bottom: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.index-2 .tab ul li .tab-item p {
  font-size: 18px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-bottom: 0;
}

.index-2 .tab ul li .tab-item:hover h4,
.index-2 .tab ul li .tab-item:hover p {
  color: #ffffff;
}

.index-2 .tab ul li .tab-item:first-child {
  border: 1px solid #0072BC;
}

.index-2 .tab ul li .tab-item:first-child h4,
.index-2 .tab ul li .tab-item:first-child p {
  color: #0072BC;
}

.index-2 .tab ul li .tab-item:first-child:hover {
  background-color: #0072BC;
}

.index-2 .tab ul li .tab-item:first-child:hover h4,
.index-2 .tab ul li .tab-item:first-child:hover p {
  color: #fff;
}

.index-2 .tab ul li .tab-item:nth-child(2) {
  border: 1px solid #F18800;
  margin-top: 35px;
}

.index-2 .tab ul li .tab-item:nth-child(2) h4,
.index-2 .tab ul li .tab-item:nth-child(2) p {
  color: #F18800;
}

.index-2 .tab ul li .tab-item:nth-child(2):hover {
  background-color: #F18800;
}

.index-2 .tab ul li .tab-item:nth-child(2):hover h4,
.index-2 .tab ul li .tab-item:nth-child(2):hover p {
  color: #fff;
}

.index-2 .tab ul li .tab-item:nth-child(3) {
  border: 1px solid #8DC63F;
}

.index-2 .tab ul li .tab-item:nth-child(3) h4,
.index-2 .tab ul li .tab-item:nth-child(3) p {
  color: #8DC63F;
}

.index-2 .tab ul li .tab-item:nth-child(3):hover {
  background-color: #8DC63F;
}

.index-2 .tab ul li .tab-item:nth-child(3):hover h4,
.index-2 .tab ul li .tab-item:nth-child(3):hover p {
  color: #fff;
}

.index-2 .tab .tab-content {
  max-width: 775px;
  margin: 0 auto;
  display: block;
}

@media (max-width: 767.98px) {
  .index-2 .tab .tab-content {
    display: none;
  }
}

.index-2 .tab .tab-content #content-1 {
  position: relative;
  padding-top: 10px;
  border-top: 1px solid #0072BC;
}

.index-2 .tab .tab-content #content-1 img {
  position: absolute;
  left: 70px;
  bottom: 100%;
  max-width: 120px;
}

.index-2 .tab .tab-content #content-1 p {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 0;
  color: #333;
}

.index-2 .tab .tab-content #content-2 {
  display: none;
  position: relative;
  padding-top: 10px;
  border-top: 1px solid #F18800;
}

.index-2 .tab .tab-content #content-2 img {
  position: absolute;
  left: 330px;
  bottom: 100%;
  max-width: 120px;
}

.index-2 .tab .tab-content #content-2 p {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 0;
  color: #333;
}

.index-2 .tab .tab-content #content-3 {
  display: none;
  position: relative;
  padding-top: 10px;
  border-top: 1px solid #8DC63F;
}

.index-2 .tab .tab-content #content-3 img {
  position: absolute;
  left: 605px;
  bottom: 100%;
  max-width: 120px;
}

.index-2 .tab .tab-content #content-3 p {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 0;
  color: #333;
}

.index-2 .tab .tab-mobile-content {
  display: block;
  text-align: center;
  padding-top: 15px;
}

.index-2 .tab .tab-mobile-content p {
  border-top: 1px solid;
  margin-top: -1px;
}

.index-2 .tab .tab-mobile-content#content-mobile-1 p {
  border-color: #0072BC;
}

.index-2 .tab .tab-mobile-content#content-mobile-2 p {
  border-color: #F18800;
}

.index-2 .tab .tab-mobile-content#content-mobile-3 p {
  border-color: #8DC63F;
}

.index-2 .tab .tab-mobile-content img {
  max-width: 120px;
}

@media (min-width: 992px) {
  .index-2 .tab .tab-mobile-content {
    display: none;
  }
}

.index-2 .bookmark {
  padding-top: 60px;
}

.index-2 .bookmark .title {
  text-align: center;
}

.index-2 .bookmark .title h2 {
  font-size: 26px;
  color: #9b8879;
  line-height: 38px;
  max-width: 680px;
  margin: 50px auto;
}

.index-2 .humble {
  background-color: #F9F5EA;
  padding: 50px 0;
}

.index-2 .humble .title h2 {
  font-size: 22px;
  color: #ccb38a;
  margin-bottom: 30px;
}

.index-2 .humble .title p {
  position: relative;
  padding-left: 46px;
  font-size: 16px;
  color: #555;
  font-weight: 300;
  max-width: 800px;
}

.index-2 .humble .title p img {
  position: absolute;
  top: 8px;
  left: 0;
  width: 36px;
}

.index-2 .humble .content {
  padding-left: 120px;
}

@media (max-width: 575.98px) {
  .index-2 .humble .content {
    padding-left: 0;
  }
}

.index-2 .humble .content p {
  padding-top: 30px;
  font-size: 16px;
  color: #555;
  font-weight: 300;
}

.index-2 .kn-today {
  padding-top: 80px;
}

.index-2 .kn-today h2 {
  font-size: 22px;
  color: #df2027;
  margin-bottom: 15px;
  text-align: center;
}

.index-2 .kn-today img {
  border-radius: 50%;
  width: 100%;
}

.index-2 .business-school {
  padding: 80px 0;
}

.index-2 .business-school .title h2 {
  font-size: 22px;
  color: #df2027;
  margin-bottom: 15px;
}

.index-2 .business-school img {
  display: inline-block;
  margin-bottom: 30px;
}

.index-2 .business-school p {
  font-size: 16px;
  color: #555;
  font-weight: 300;
}

.index-3 {
  border-top: 1px solid #ddd;
}

.index-3 .paginate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-3 .paginate ul li a {
  margin-right: 10px;
  font-size: 14px;
  color: #555;
}

.index-3 .paginate ul li a:hover {
  color: #e01f27;
}

.index-3 .paginate ul li a::after {
  content: '/';
  padding-left: 10px;
}

.index-3 .paginate ul li.active a {
  color: #b09c89;
  pointer-events: none;
  cursor: default;
}

.index-3 .paginate ul li:last-child a::after {
  display: none;
}

.index-3 .title h1 {
  font-size: 24px;
  color: #6f6f70;
  font-weight: 400;
  padding-top: 60px;
  padding-bottom: 15px;
}

.index-3 .title p {
  font-size: 16px;
  color: #555;
  line-height: 26px;
  font-weight: 300;
}

.index-3 .customer-products .customer-product-items {
  padding-top: 30px;
  padding-bottom: 30px;
}

.index-3 .customer-products .product-item {
  margin-bottom: 50px;
  border-bottom: 1px solid #ddd;
}

.index-3 .customer-products .product-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-3 .customer-products .product-item a .left img {
  height: 50px;
}

.index-3 .customer-products .product-item a .left h4 {
  font-size: 14px;
  color: #77797b;
  padding-top: 10px;
  font-weight: 300;
  font-style: italic;
}

.index-3 .customer-products .product-item.special-item a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index-3 .customer-products .product-item.special-item .left h4 {
  font-size: 16px;
  color: #df2027;
  font-weight: 600;
  border-left: 1px solid #df2027;
  border-bottom: 1px solid #df2027;
  padding-left: 15px;
  padding-bottom: 15px;
}

.index-3 .product-details {
  padding-top: 60px;
  border-top: 1px solid #ddd;
}

.index-3 .product-details .title h2 {
  color: #E31F26;
  font-size: 30px;
  font-weight: 600;
}

.index-3 .product-details .details {
  background-image: url(../images/meet-2.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 65%;
}

.index-3 .product-details .details h4 {
  font-size: 24px;
  color: #df2027;
  padding-top: 120px;
}

.index-3 .product-details .details p {
  font-size: 16px;
  color: #555;
  font-weight: 300;
  padding-top: 30px;
  max-width: 600px;
}

.index-3 .product-details .collapseble a {
  color: #096fb7;
}

.index-3 .product-details .collapseble a:hover {
  color: #e01f27;
}

.index-3 .product-details .collapseble p {
  font-size: 14px;
  font-weight: 300;
  color: #555;
  margin-top: 10px;
}

.index-3 .product-details .details-two h2 {
  font-size: 24px;
  color: #e31f26;
  padding-bottom: 15px;
  padding-top: 15px;
}

.index-3 .product-details .details-two h3 {
  font-size: 24px;
  color: #555;
  position: relative;
  padding-left: 15px;
  padding-bottom: 15px;
}

.index-3 .product-details .details-two h3 i {
  position: absolute;
  top: 10px;
  left: 0;
  color: #df2027;
  font-size: 8px;
}

.index-3 .product-details .details-two h4 {
  font-size: 16px;
  color: #555;
  font-weight: 600;
  max-width: 700px;
  line-height: 26px;
  padding-bottom: 15px;
}

.index-3 .product-details .details-two p {
  font-size: 16px;
  line-height: 26px;
  color: #555;
  font-weight: 300;
  max-width: 700px;
}

.index-4 .paginate {
  background-color: #F7F7F7;
  padding: 6px 0;
  margin-bottom: 60px;
}

.index-4 .paginate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-4 .paginate ul li a {
  margin-right: 10px;
  font-size: 14px;
  color: #555;
}

.index-4 .paginate ul li a:hover {
  color: #e01f27;
}

.index-4 .paginate ul li a::after {
  content: '/';
  padding-left: 10px;
}

.index-4 .paginate ul li.active a {
  color: #b09c89;
  pointer-events: none;
  cursor: default;
}

.index-4 .paginate ul li:last-child a::after {
  display: none;
}

.index-4 .title h1 {
  font-size: 16px;
  color: #898989;
  font-weight: 400;
  margin-bottom: 30px;
}

.index-4 .full-details p {
  font-size: 16px;
  color: #555;
  font-weight: 300;
}

.index-4 .image-item {
  text-align: center;
  margin-bottom: 30px;
}

.index-4 .image-item h4 {
  font-size: 14px;
  color: #898989;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.index-4 .image-item:hover h4 {
  color: #e01f27;
}

.index-5 .paginate {
  background-color: #F7F7F7;
  padding: 6px 0;
  margin-bottom: 60px;
}

.index-5 .paginate ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index-5 .paginate ul li a {
  margin-right: 10px;
  font-size: 14px;
  color: #555;
}

.index-5 .paginate ul li a:hover {
  color: #e01f27;
}

.index-5 .paginate ul li a::after {
  content: '/';
  padding-left: 10px;
}

.index-5 .paginate ul li.active a {
  color: #b09c89;
  pointer-events: none;
  cursor: default;
}

.index-5 .paginate ul li:last-child a::after {
  display: none;
}

.index-5 .page-title .container {
  position: relative;
}

.index-5 .page-title h1 {
  font-size: 32px;
  color: #e51d27;
  font-weight: 300;
}

.index-5 .page-title p {
  font-size: 16px;
  color: #494949;
  font-weight: 300;
  max-width: 340px;
}

.index-5 .page-title a {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  color: #ccc;
}

.index-5 .page-title a:hover {
  color: #e01f27;
}

.index-5 .details-product {
  background-color: #FAFAFA;
  padding: 60px 0;
}

.index-5 .details-product .left h3 {
  font-size: 16px;
  color: #a67c52;
  padding-bottom: 5px;
}

.index-5 .details-product .left h4 {
  margin-bottom: 0;
}

.index-5 .details-product .left ul {
  background-color: #fff;
  padding: 15px;
  border: solid 1px #d8d8d8;
  border-radius: 5px;
}

.index-5 .details-product .left ul li {
  padding: 5px 0;
  border-bottom: 1px solid #d8d8d8;
}

.index-5 .details-product .left ul li.bb-5 {
  border-bottom: 5px solid #d8d8d8;
}

.index-5 .details-product .left ul li.bb-2 {
  border-bottom: 2px solid #d8d8d8;
}

.index-5 .details-product .left ul li.bb-0 {
  border-bottom: 0;
}

.index-5 .details-product .left ul li p {
  margin-bottom: 0;
}

.index-5 .details-product .center h3 {
  font-size: 16px;
  color: #a67c52;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 12px;
}

.index-5 .details-product .center h3 span {
  color: #8b8b8b;
}

.index-5 .details-product .right .img img {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
}

.index-5 .details-product .right .buy {
  text-align: center;
}

.index-5 .details-product .right .buy a {
  display: block;
}

.index-5 .details-product .right .buy a:first-child {
  margin: 30px 0;
}

.index-5 .details-product .right .buy a:last-child {
  color: #494949;
  border-top: 1px solid #d8d8d8;
  padding-top: 10px;
}

.index-5 .details-product .right .buy a:last-child:hover {
  color: #e01f27;
}

.index-5 .details-product .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.index-5 .details-product .social ul li a {
  color: #3b5998;
}

.index-5 .video {
  background-color: #F7F7F7;
  padding: 30px;
  border-top: 1px solid #d8d8d8;
  text-align: center;
}
