@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
// Color;
$primary-color: #e01f27;
$secondary-color: #337ab7;
$hover-color : #188fff;
$hover-two: #999999;
$bColor: #333333;
$white : #ffffff;
$black : #000000;
$bgOne: #6D6E71;
$bgTwo: #F7F7F7;
$border-color: #DADADA;


// Body;
$bodyFont: 'Open Sans', sans-serif;
$titleFont: 'Open Sans', sans-serif;
$bfSize: 14px;
$bLineHeight: 24px;
$fontWeight: 400;
$transition: all .4s linear;
